.main {
	&__wrapper {
		width: 100rem;
		min-height: 70rem;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 5rem;
		border-radius: 3rem;
		background-color: #81a4ba;
	}

	&__header {
		display: flex;
		padding-left: 4rem;
		align-items: center;
		width: 100%;
		height: 10rem;
		border-bottom: 0.1rem solid rgb(187, 187, 187);
	}
}
