.main__header__input {
	width: 100%;
	height: 100%;
	background-color: #fff;
	outline: none;
	border: none;
	border-radius: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 2rem;
	font-family: 'Quicksand', sans-serif;
	color: #363636;
	font-weight: 500;

	&__wrapper {
		position: relative;
		width: 40rem;
		height: 4.5rem;
	}
}
