.header {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10rem;
		border-bottom: 0.1rem solid rgb(153, 153, 153);
		background-color: #125184;
	}
	&__title {
		font-size: 5rem;
		font-family: 'Sriracha', cursive;
		color: rgb(241, 241, 241);
		letter-spacing: 0.2rem;
		cursor: default;
	}
}
