.city {
	display: flex;
	flex-direction: column;
	width: 40rem;
	height: 20rem;
	background-color: #fff;
	border-radius: 1.5rem;

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 2rem;
		padding-right: 6rem;
		min-width: 0;
		width: 100%;
		height: 5rem;
		overflow: hidden;
		letter-spacing: 0.1rem;
		border-bottom: 0.1rem solid rgb(190, 190, 190);
		font-size: 1.8rem;

		&__text {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&__body {
		display: flex;
		flex: 1 1 auto;
		padding: 1.5rem;

		&__left {
			display: flex;
			flex-direction: column;
			width: 15rem;
			height: 100%;
			border-right: 0.1rem solid rgb(180, 180, 180);

			&__time {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 3.4rem;
				width: 100%;
				font-size: 1.8rem;
				letter-spacing: 0.1rem;
				padding-right: 1rem;
				font-weight: bold;
			}

			&__temperture {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 auto;
				font-size: 5rem;
				color: rgb(68, 153, 202);
				border-top: 0.1rem solid rgb(180, 180, 180);
			}
		}

		&__right {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 3.5rem 1fr 1fr 1fr;
			flex: 1 1 auto;
			// padding-left: 1rem;

			&__date {
				display: flex;
				align-items: center;
				// justify-content: center;
				padding-left: 2rem;
				font-size: 1.8rem;
				letter-spacing: 0.1rem;
				padding-right: 1rem;
				font-weight: bold;
				border-bottom: 0.1rem solid rgb(180, 180, 180);
			}
		}
	}
}
