* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	background-color: #a5bfcb;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	color: #000000;
}
