.errorBlock {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 2rem;

	&__wrapper {
		position: absolute;
		top: 3rem;
		right: 3rem;
		width: 50rem;
		height: 15rem;
		border-radius: 2rem;
		background-color: rgba(54, 54, 54, 0.7);
	}

	&__message {
		display: flex;
		align-items: center;
		width: 100%;
		height: 5rem;
		padding: 0 2rem 0 2rem;
		min-width: 0;
		overflow: hidden;

		&__text {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-size: 1.8rem;
			color: rgb(255, 0, 0);
		}
	}

	&__close {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 1rem;
		top: 1rem;
		width: 3rem;
		height: 3rem;
		cursor: pointer;

		&__icon {
			width: 1.5rem;
			transition: 0.2s;

			&:hover {
				transition: 0.2s;
				width: 2rem;
			}
		}
	}
}
